{% extends "base.html" %}

{% block content %}
  <div class="article">
    <h1 class="project-title">
      {{ page.title }} <span>{{ page.extra.subtitle }}</span>
    </h1>

    {% if page.extra.description %}
      <h5>{{ page.extra.description }}</h5>
    {% endif %}

    {% if page.extra.hero_img %}
      <img src="{{page.extra.hero_img}}" class="project-hero-img" />
    {% endif %}

    <section class="clearfix">
      {% if page.extra.role %}
        <section class="meta-data">
          <h5>Role</h5>
          <p>{{ page.extra.role }}</p>
        </section>
      {% endif %}

      {% if page.extra.team %}
        <section class="meta-data">
          {% if page.extra.team_name %}
            <h5>{{ page.extra.team_name }}</h5>
          {% else %}
            <h5>Team</h5>
          {% endif %}

          <ul>
            {% for teammate in page.extra.team %}
              {% if teammate.link %}
                <li><a href="{{ teammate.link }}">{{ teammate.name }}</a></li>
              {% else %}
                <li>{{ teammate.name }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if page.extra.tech %}
        <section class="meta-data">
          <h5>Tech</h5>
          <ul>
            {% for technology in page.extra.tech %}
              <li>{{ technology }}</li>
            {% endfor %}
          </ul>
        </section>
      {% endif %}

      {% if page.extra.links %}
        <section class="meta-data">
          <h5>Links</h5>
          {% for link in page.extra.links %}
            <a href="{{ link.href }}">{{ link.title }}</a><br />
          {% endfor %}
        </section>
      {% endif %}
    </section>

    {% if page.extra.images %}
      {% for image in page.extra.images %}
        <img src="{{image}}" class="project-hero-img" />
      {% endfor %}
    {% endif %}

    <article class="clearfix">
      {{page.content | safe}}
    </article>
  </div>
{% endblock content %}

