{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="large-10 large-offset-1 columns typeset">
    {% for page in paginator.pages %}
      <article class="summary">
          <a href="{{ page.permalink }}">
            <h3 class="summary-title">{{ page.title }}</h3>
          </a>
          <div class="summary-body emphasis">
            <p>
              <time>{{ page.date | date(format="%b %e, %Y") }}</time>
              <!-- unsure why i can't access tags from map directly -->
              {% for x, y in page.taxonomies %}
                {% if x == "tags" %}
                  &#8739;
                  {% for t in y %}
                    {% set tag = get_taxonomy_term(kind="tags", term=t) %}
                    <a href="{{ tag.permalink }}">{{ tag.name }}</a>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </p>
            <p>{{ page.summary | safe }}</p>
          </div>
          <div class="read-more">
            <a href="{{ page.permalink }}">Read more...</a>
          </div>
      </article>
    {% endfor %}

    <h5>More posts</h5>
    {% if paginator.previous %}
      <a href="{{paginator.previous}}" title="previous">&#8592; Previous page</a>
    {% endif%}

    {% if paginator.previous and paginator.next %}
    &#8739;
    {% endif%}

    {% if paginator.next %}
      <a href="{{paginator.next}}" title="next">Next page &#8594;</a>
    {% endif%}
  </div>
</div>
{% endblock content %}
