{% extends "base.html" %}

{% block content %}

{% if not paginator %}
<h1>Articles tagged '{{ term.name }}'</h1>

    {% for page in term.pages %}
      <ul>
        <li>
    <a href="{{ page.permalink | safe }}">{{ page.title | safe }}</a> {{ page.date | date(format="%b %Y")}}
        </li>
      </ul>
    {% endfor %}
{% else %}
    Tag: {{ term.name }}
    {% for page in paginator.pages %}
        {{page.title|safe}}
    {% endfor %}
    Num pagers: {{ paginator.number_pagers }}
    Page size: {{ paginator.paginate_by }}
    Current index: {{ paginator.current_index }}
    First: {{ paginator.first | safe }}
    Last: {{ paginator.last | safe }}
    {% if paginator.previous %}has_prev{% endif%}
    {% if paginator.next %}has_next{% endif%}
{% endif %}

{% endblock content %}
